html, body {
	height: 100vh;
	width: 100vw;
  font-family: 'Open Sans', sans-serif;
  color: #222; 
}

.navbar {
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 10px;
}

.nav-link {
	font-size: 1.1em !important;
}

.carousel-inner img {
	width: 100vw;
	height: 100vh;
}

.fa-hamburger, .fa-vial, .fa-atom {
	color: #563d7c;
	font-size: 4rem;
	margin: 1rem;
}

.email {
	display: inline-block;
}
/*----Media Queries----*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}



/*.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)*/